@model EcommerceMVC.Models.ProductModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddToCart", "Cart", new { productId = @Model.id, quantity = @ViewBag.qtd, returnUrl = Request.Url.AbsoluteUri }, FormMethod.Post))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="py-5 card-title">@Model.name</h2>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.categoryName)</h6>
            <p class="card-text">@Html.DisplayFor(model => model.description)</p>
            <p>@Html.DisplayFor(model => model.price)</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button id="btnIncrement" type="button" onclick="increment()" class="btn btn-dark">+</button>
                </div>
                <input id="quantity" name="quantity" type="text" value="@ViewBag.qtd" class="form-control col-3" />
                <div class="input-group-append">
                    <button id="btnDecrement" type="button" onclick="decrement()" class="btn btn-dark">-</button>
                </div>
            </div>
            <div class="mr-auto">
                <button type="submit" value="Create" class="btn btn-primary m-auto">Add to Cart</button>
            </div>

        </div>
    </div>
}


<script>
    var increment = function () {
        let oldValue = $('#quantity').val();
        $('#quantity').val(parseFloat(oldValue) + 1);
    };

    var decrement = function () {
        let oldValue = $('#quantity').val();
        if (oldValue > 0)
            $('#quantity').val(parseFloat(oldValue) - 1);
    };
</script>
