@model EcommerceMVC.Models.CheckOutModel

@{
    ViewBag.Title = "CheckOut";
}

<h2>Check Out</h2>

<div>
    @using (Html.BeginForm("ProcessPayment", "Cart", FormMethod.Post))
    {
        <span>Names</span>
        @Html.LabelFor(m => m.User.FirstName) 
        @Html.LabelFor(m => m.User.LastName)


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().name)</th>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().pricePerUnit)</th>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().quantity)</th>
                    <th>SubTotal</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var prod in Model.Cart.shoppingProducts)
                {
                    <tr>
                        <td>
                            @Html.LabelFor(model => @prod.name)
                        </td>
                        <td>
                            @Html.LabelFor(model => @prod.pricePerUnit)
                        </td>
                        <td>
                            @Html.LabelFor(model => @prod.quantity)
                        </td>
                        <td>
                            <label>@(prod.pricePerUnit * prod.quantity)</label>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>
                        @Model.Cart.shoppingProducts.Sum(prd => prd.quantity * prd.pricePerUnit)
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="mr-auto">
            <input type="submit" class="btn btn-default" value="Proceed to payment">
        </div>
    }

</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
