@model EcommerceMVC.Models.CartIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Cart</h2>

<div>
    @using (Html.BeginForm("Index", "Cart", "POST"))
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().name)</th>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().pricePerUnit)</th>
                    <th>@Html.LabelFor(m => m.Cart.shoppingProducts.First().quantity)</th>
                    <th>SubTotal</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var prod in Model.Cart.shoppingProducts)
                {
                    <tr class="cart-item">
                        <td>
                            @prod.name
                        </td>
                        <td>
                            @prod.pricePerUnit
                        </td>
                        <td>
                            <input id="productQuantity_@(prod.productId)" type="text" disabled value="@prod.quantity" name="quantity" />
                        </td>
                        <td>
                            <label>@(prod.pricePerUnit * prod.quantity)</label>
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button id="btnIncrement_@(prod.productId)" type="button" onclick="increment(@(prod.productId))" class="btn btn-dark">+</button>
                                </div>
                                <div class="input-group-append">
                                    <button id="btnDecrement_@(prod.productId)" type="button" onclick="decrement(@(prod.productId))" class="btn btn-dark">-</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td id="cart-total">
                        @Model.Cart.totalAmount
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="mr-auto">
            <button type="submit" value="Create" class="btn btn-default">Check out</button>
        </div>
    }

</div>


<script>
    var increment = function (id) {
        let oldValue = $('#productQuantity_' + id).val();
        $('#productQuantity_' + id).val(parseFloat(oldValue) + 1);
        let newValue = $('#productQuantity_' + id).val();
        changeQuantity(id, newValue);
    }


    var decrement = function (id) {
        let oldValue = $('#productQuantity_' + id).val();
        $('#productQuantity_' + id).val(parseFloat(oldValue) - 1);
        let newValue = $('#productQuantity_' + id).val();
        changeQuantity(id, newValue);
    }



    var changeQuantity = function (id, productQuantity) {
        $.ajax({
            type: 'POST',
            url: '@Request.Url.GetLeftPart(UriPartial.Authority)' + '/Cart/ChangeProductQuantity?productId=' + id + '&quantity=' + productQuantity,
            dataType: 'json',
            traditional: true,
            success: function (cart) {
                $('#cart-total').text(cart.totalAmount);
            }
        });
    };
</script>